<a href="https://colab.research.google.com/github/CHOIHANJOON/Another-Day-Another-Planting/blob/main/%EC%97%B0%EC%8A%B5%EC%9E%A5(%EC%9B%90%ED%95%AB_%EC%9D%B8%EC%BD%94%EB%94%A9).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**원핫 인코딩 **


자신에게 맞는것은 1로 나머지는 0으로 바꿔주는 기법
(하나만 HOT하고 나머지는 Cold한 데이터라는뜻)

In [ ]:
# OneHotEncoder를 encoder라는 변수에 저장해보기
# encoder를 사용해 train의 type 피쳐를 학습시켜보세요
# encoder를 사용해 train의 type피쳐를 변환해 onehot이라는 변수에 저장해보기
# onehot 이라는 변수를 array형태로 변환해 보세요
# onehot이라는 변수를 DataFrame형태로 변환해 보세요
# encoder의 get_feature_names()를 사용해 column이름을 바꿔보세요
# onehot을 원본 데이터인 train에 병합시켜보세요
# train의 type 변수를 제거해주세요

In [1]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3i4n1QB'

import zipfile
with zipfile.ZipFile('3i4n1QB', 'r') as existing_zip:
    existing_zip.extractall('data')

--2022-07-08 05:26:30--  https://bit.ly/3i4n1QB
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw [following]
--2022-07-08 05:26:30--  https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw
Resolving drive.google.com (drive.google.com)... 74.125.139.101, 74.125.139.138, 74.125.139.139, ...
Connecting to drive.google.com (drive.google.com)|74.125.139.101|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/f72au5tmok81ur19qt3irs396vif0hmi/1657257975000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download&uuid=2b1f119c-c82a-4241-8708-191494d71e28 [following]
Warning: wildcards not supported in HTTP.
--2022-07-08 05:26:31--  https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/f72au5tmok81ur19qt3irs396vif0hmi/1657257975000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download&uuid=2b1f119c-c82a-4241-8708-191494d71e28
Resolving doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)... 173.194.212.132, 2607:f8b0:400c:c11::84
Connecting to doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)|173.194.212.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 137694 (134K) [application/zip]
Saving to: ‘3i4n1QB’

3i4n1QB             100%[===================>] 134.47K  --.-KB/s    in 0.002s

2022-07-08 05:26:31 (56.2 MB/s) - ‘3i4n1QB’ saved [137694/137694]

In [2]:
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder

In [3]:
train = pd.read_csv('data/train.csv')

In [4]:
encoder = OneHotEncoder()

In [6]:
encoder.fit(train[['type']])

OneHotEncoder()

In [8]:
onehot = encoder.transform(train[['type']])
onehot

<5497x2 sparse matrix of type '<class 'numpy.float64'>'
	with 5497 stored elements in Compressed Sparse Row format>

In [9]:
onehot = onehot.toarray()
onehot

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       ...,
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [11]:
onehot = pd.DataFrame(onehot)
onehot

        0    1
0     0.0  1.0
1     1.0  0.0
2     0.0  1.0
3     0.0  1.0
4     0.0  1.0
...   ...  ...
5492  0.0  1.0
5493  0.0  1.0
5494  0.0  1.0
5495  0.0  1.0
5496  0.0  1.0

[5497 rows x 2 columns]

In [13]:
onehot.columns = encoder.get_feature_names()
onehot.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   x0_red  x0_white
0     0.0       1.0
1     1.0       0.0
2     0.0       1.0
3     0.0       1.0
4     0.0       1.0

In [14]:
onehot = pd.concat([train, onehot], axis = 1)
onehot.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type,x0_red,x0_white
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white,0.0,1.0
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red,1.0,0.0
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white,0.0,1.0
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white,0.0,1.0
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white,0.0,1.0

In [15]:
train = train.drop(columns = ['type'])
train.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9

In [16]:
from sklearn.ensemble import RandomForestClassifier

random_forest = RandomForestClassifier()

In [17]:
X = train.drop(columns = ['quality'])

In [18]:
y = train['quality']

In [20]:
random_forest.fit(X,y)

RandomForestClassifier()